<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerCourse.Properties.Settings.ComputerCourseConnectionString"
            connectionString="Data Source=DESKTOP-01LQM8P\SQLEXPRESS;Initial Catalog=ComputerCourse;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerCourse.Properties.Settings.ComputerCourseConnectionString1"
            connectionString="Data Source=DESKTOP-3UKKF7D\SQLEXPRESS;Initial Catalog=ComputerCourse;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>